@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lexend Deca";
	font-weight: 300;
	src: url(~/assets/font/LexendDeca.ttf);
}

@font-face {
	font-family: "Linotte";
	src: url(~/assets/font/Linotte.otf);
}
